* {
  margin: 0;
  padding: 0;
}
nav {
  margin-top: 2vh;
}
a {
  text-decoration: none;
  font-size: larger;
  font-weight: 700;
}

li {
  list-style: none;
}

.position {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
